body {
  font-family: Overpass;
  color:  #FF0000;
  font-size: 22px;
  margin: 0;
}

h1, h2, h3 {
  color: #FF0000;
  font-family: Chivo;
}

.container {
  width: 900px;
  margin: 60px auto;
}

.banner {
  background-image: url('images/barca2.jpeg');
  background-size: center;
  background-position: center;
  padding: 150px 0;
  text-align: center;
}

.banner h1 {
  color:  #FBFCFC;
  font-size: 55px;
  margin: 0;
  transition-property: 4;
  opacity: 100px;
}

.banner p {
  color:  white;
  font-size: 29px;
  height: 19px;
  opacity: 1000px;
}
.btn-blue {
  background-color: #00008B ;
  color: white;
  padding: 15px 30px;
  border-radius: 4px;
  display: run-in;
  text-decoration: none;
  transition: .3s;
  font-size: 15px;
  font-weight: bold;
}

.btn-blue:hover {
  background-color:#00008B;
  color: white;
}

.card-white {
  background: white;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  border-radius: 4px;
  padding: 24px;
  margin: 8px;
  flex-grow: 1;
}

.card-white img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 6px;
}

.card-white h3 {
  margin-bottom: 0;
}

.footer {
  background: #00008B;
  color: whitesmoke;
  padding: 10px 0px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

@media (min-width: 300px) {
  .container {
    width: 500px;
  }
  .cards {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 5000px) {
  .container {
    width: 400px;
  }
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 1500px;
  }

  .cards {
    grid-template-columns: 1fr 1fr 1fr ;
  }
}
